html {
    font-size: 16px;
    font-family: "Ubuntu", serif;
    letter-spacing: 3px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerLogo {
    width: 31rem;
}
.centerLogo1 {
    font-size: 1rem;
    font-family: "Ubuntu";
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 600;
    color: #000;
}
.rightLogo {
    width: 31rem;
    display: flex;
    justify-content: center;
}
.rightLogo p{
    padding:0 2rem 0 0 ;
}
.button1 {
    width: 12.5rem;
    border: none;
    background-color: #fff;
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 600;
}
.firstWin {
    width: 100%;
    height: 47rem;
    display: grid;
    justify-content: center;
}
.firstWin1 {
    height: 100%;
    width: 72.5rem;
    display: flex;
}
.firstWin1Left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.firstWin1LeftUp {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}
.firstWin1LeftUp b{
    color: #3767b8;
}
.firstWin1LeftDown {
    width: 100%;
}
.firstWin1LeftDown p{
    font-size: 1.2rem;
}
.firstWin1LeftDown button{
    width: 19rem;
    height: 5.5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 3px 10px #3767b8;
}
.icon {
    width: auto;
    height: auto;
    display: flex;
}
.iconi {
    display: flex;
    align-items: center;
}
.iconi2 {
    font-size: 1rem;
}
.firstWin1Right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    background-image: url(img/min.png);
    background-position-x: center;
    background-position-y: top;
}
.firstWin1RightP {
    width: 30rem;
    height: 5rem;
    background-color: #3767b8;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    position: relative;
    top: 4rem;
}
.kupon {
    width: 100%;
    height: 15rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.kupon1 {
    width: 72.5rem;
    box-shadow: 0px 10px 20px 5px rgba(66,66,66,0.1);
    background-color: #fff;
}
.doubleLine {
    height: calc(100% - 2rem);
    margin: 1rem;
    border-width: 5px;
    border-color: #3766b850;
    border-style: dashed;
}
.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.politic{
    font-size: 12px;
}
.politic a{
    color: #3767b8;
}
.formp {
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 5px;
}
.postp, .postpp {
    height: 3rem;
    width: 15rem;
    padding: 0 1rem;
    margin: 0 1rem;
}
.postpp {
    width: 25rem;
    height: 3rem;
    background-color: #3767b8;
    color: #fff;
    border: none;
}
.newLife {
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.newLife1 {
    width: 72.5rem;
    height: 45rem;
    display: flex;
}
.newLifeText {
    height: 40rem;
    width: calc(100% - 3rem);
    padding-right: 3rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-around;
}
.nlt1 {
    font-size: 3rem;
}
.nlt1 b{
    color: #3767b8;
}
.nlt2 {
    font-size: 1.3rem;
    line-height: 2rem;
}
.nlt3 {
    font-size: 1.7rem;
    color: #3767b8;
}
.nlt4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nltBlue {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    background-image: url(img/__.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.newLifeImg{
    height: 30rem;
    margin-top: 2rem;
}
.newLifeImgg{
    box-shadow: 0px 0px 30px 0px rgba(66,66,66,0.7);
}
.forma {
    width: 100%;
    display: grid;
    justify-items: center;
    background-color: #fff;
}
.formao {
    width: 72.5rem;
    height: 100%;
    display: grid;
    justify-content: center;
}
.frm {
    width: 30rem;
    height: 5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
}
.spishemDolg {
    width: 100%;
    height: 29rem;
    display: grid;
    justify-content: center;
}
.spishemDolg11 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.spishemDolg1 {
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spishemDolg1 p{
    font-size: 1rem;
    line-height: 2rem;
}
.spishemDolg1 b{
    color: #3767b8;
}
.spishemDolg2 {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.spishemDolgItem {
    width: 17rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.spishemDolgItem p{
    font-size: 1rem;
    width: 70%;
}
.nechaev {
    width: 100%;
    height: 43rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
}
.nechaev41 {
    height: 100%;
    width: 72.5rem;
    display: flex;
    align-items: center;
    color: #fff;
}
.nechaev1 {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
.nechaev11 {
    width: 100%;
    height: 80%;
}
.nechaev111 {
    width: 26rem;
    height: 26rem;
    border: 10px solid #fff;
    rotate: 5deg;
    box-shadow: 3px 3px 20px 1px #000;
}
.nechaev2 {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nechaev21 h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.nechaev21 p {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 0;
}
.nechaev22 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2rem;
}
.nechaev23 button{
    width: 23rem;
    height: 5rem;
    color: #3767b8;
    font-weight: 700;
    background-color: #fff;
    border: none;
}
.result {
    width: 100%;
    height: 75rem;
    display: grid;
    justify-items: center;
}
.result1 h1{
    font-size: 3rem;
}
.result1 b{
    color: #3767b8;
}
.result1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0;
}
.result2 {
    height: 38rem;
    display: flex;
    font-size: 1rem;
    color: #fff;
}
.result2 h1{
    font-size: 2rem;
}
.result21 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cubb, .cub {
    width: calc(95% - 4rem);
    height: calc(60% - 4rem);
    background-color: #3767b8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cubb  h1, .cub h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
}
.cubb  p, .cub p{
    margin: 0;
    letter-spacing: 0;
}
.cubik {
    background-color: #3767b8;
    width: calc(95% - 4rem);
    height: calc(30% - 4rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cubik h1{
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 1rem;
    margin-top: 0;
}
.cubik p{
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
}
.cubb {
    background-image: url(img/bankomat-770x482-cc6.jpg);
}
.cub {
    background-image: url(img/scale_1200_1.jpeg);
}
.result1 button{
    width: 35rem;
    height: 6rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size:1rem ;
    box-shadow: 3px 3px 10px #3767b8;
}
.billion {
    width: 100%;
    height: 100rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
    text-align: center;
}
.billion1 {
    width: 72.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.billion1 h1{
    font-size: 2.7rem;
    width: 95%;
    margin-bottom: 0;
    text-align: center;
}
.billion1 b{
    color: #3767b8;
    width: 90%;
}
.billion1 p{
    font-size: 1.5rem;
    letter-spacing: 0;
    word-spacing: 0.2rem;
    line-height: 2.5rem;
    width: 90%;
}
.billion3 {
    height: 72rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.billion31 {
    height: 35rem;
    background-color: #f5f5f5;
    box-shadow: -1px -2px 21px -5px rgba(34, 60, 80, 0.38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.billion31 h1{
    font-size: 1.5rem;
    margin: 1rem 0 0;
}
.billion31 button{
    width: 10rem;
    height: 2.2rem;
    border: none;
    background-color: #3767b8;
    color: #fff;
    margin-bottom: 2rem;
}
.team {
    height: 60rem;
    width: 100%;
    display: grid;
    justify-items: center;
}
.team1 {
    width: 72.5rem;
    height: 100%;
} 
.team1 h1, .team1 p{
    text-align: center;
}
.team1 h1 {
    font-size: 3rem;
}
.team1 h1 b{
    color: #3767b8;
}
.team1 p {
    font-size: 1.5rem;
}
.price {
    width: 100%;
    height: 57rem;
    display: grid;
    justify-content: center;
}
.price1 {
    width: 72.5rem;
    height: 100%;
    text-align: center;
}
.price1 h1{
    font-size: 3rem;
}
.price1 p{
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}
.pbold{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Ubuntu", italic;
}
.pricecub{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pricecub1 {
    width: calc(22% - 4rem);
    height: calc(20rem - 4rem);
    background-color: #fff;
    padding: 2rem;
    border: 0.1px solid #3333331a ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
}
.pricecub1 h1{
    font-size: 1.3rem;
}
.pricecub1 button{
    width: 7rem;
    height: 3rem;
    border: none;
    background-color: #3767b8;
    color: #f5f5f5;
}
.quizWin {
    width: 100%;
    height: 20rem;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3767b8;

}
.quizWin1 {
    width: calc(72.5rem - 4rem);
    height: calc(80% - 4rem);
    padding: 2rem;
    border: 3px solid #ffffff79;
    color: #fff;
}
.quizWin2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizWin21 {
    width: 60%;
}
.quizWin22 button{
    width: 20rem;
    height: 5rem;
    background-color: #fff;
    border: none;
    color: #3767b8;
    font-weight: 600;
    font-size: 1rem;
}
.reviews {
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.reviews1 {
    width: 72.5rem;
    height: 100%;
}
.reviews1 h1{
    font-size: 2.7rem;
}
.reviews1 h1 b{
    color: #3767b8;
}
.reviews11 {
    width: 100%;
    height: 45rem;
}
.reviews1 button{
    width: 20rem;
    height: 5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.us {
    width: 100%;
    height: 41rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.us1 {
    width: 72.5rem;
    height: 100%;
}
.us1 h1{
    font-size: 2.8rem;
    text-align: center;
}
.us1 b{
    color: #3767b8;
}
.facts {
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.facts1 {
    width: 30%;
    height: 45%;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.facts1 h1{
    font-size: 1.3rem;
    color: #3767b8;
    text-align: left;
}
.facts1 p {
    margin: 0;
}
.formaOsnov {
    width: 100%;
    height: 37rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
}
.formOsnov1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
}
.formaOsnov11 {
    width: 80%;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formaOsnov11 h1 {
    font-size: 2.9rem;
    margin-bottom: 0;
}
.formaOsnov11 p {
    font-size: 1rem;
    font-weight: 200;
}
.star {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.star1 {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star1 p{
    font-style: 1rem;
    text-align: start;
    width: 80%;
}
.star11 {
    width: 2rem;
    height: 2rem;
    border-radius: 3000px;
    background-color: #fff;
}
.formaOsnov2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.formaOsnov21 {
    width: 75%;
    height: 75%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formaOsnov211 {
    width: calc(90% - 4rem);
    height: calc(90% - 4rem);
    padding: 2rem;
    border: 5px dashed #3766b85d;
}
.formaOsnov2111 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.formaOsnov2111 h1{
    font-size: 1.3rem;
}
.formaOsnov2111 p{
    font-size: 0.7rem;
    letter-spacing: 0;
}
.formaa {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formaaa, .formaaa1 {
    height: 3rem;
    opacity: 0.6;
    padding-left: 2rem;
}
.formaaa1 {
    background-color: #3767b8;
    opacity: 1;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.reshai {
    width: 100%;
    height: 57rem;
    display: grid;
    justify-content: center;
}
.reshai1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    justify-content: space-around;
}
.reshai1 h1{
    font-size: 2.8rem;
}
.reshai1 h1 b{
    color: #3767b8;
}
.reshai1 p{
    font-size: 1.6rem;
    font-weight: 600;
}
.reshai11 {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.reshai111 {
    height: calc(5rem - 2rem);
    width: calc(80% - 2rem);
    padding: 1rem;
    background-image: url(img/__.png);
    background-position: right;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.reshai3 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.reshai2 {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
.reshai21 {
    width: 100%;
    height: 75%;
    background-image: url(img/photo_2020-11-02_232.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 5px #000;
}
.kypon {
    width: 100%;
    height: 15rem;
    display: grid;
    justify-content: center;
}
.kypon1 {
    width: 72.5rem;
    box-shadow: 0px 10px 20px 5px rgba(66,66,66,0.1);
    background-color: #fff;
}
.kyponDoble {
    height: calc(100% - 2rem);
    margin: 1rem;
    border-width: 5px;
    border-color: #3766b850;
    border-style: dashed;
}
.kyponform {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.kyponform h1{
    font-size: 1.5rem;
}
.contact {
    width: 100%;
    height: 36rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
    margin-top: 3rem;
    color: #fff;
}
.contact1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
}
.contact12 {
    width: 50%;
    height: 100%;
}
.contact11 {
    height: 100%;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact3 {
    height: 20%;
    font-size: 1rem;
    display: flex;
    letter-spacing: 0;
}
.contact3 h1{
    font-size: 1rem;
    padding-left: 2rem;
    font-weight: 600;
}
.contact3 p{
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-weight: 400;
}
.contact2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact21 {
    width: 90%;
    height: 80%;
    border: 3px solid #ffffff79;
}