
html {
    font-size: 16px;
    font-family: "Ubuntu", serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.setka {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}
.setka1 {
    position: absolute;
    transform: rotate(315deg);
    left: -20rem;
    bottom: -40rem;
}
.blue-setka {
    width: auto;
    height: auto;
    z-index: 0;
    position: relative;
    left: 47em;
    transform: rotate(295deg);
}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 40;
}
.header900 {
    display: none;
}

.centerLogo {
    width: 31rem;
}
.centerLogo1 {
    font-size: 1rem;
    font-family: "Ubuntu";
    text-decoration: none;
    padding: 0 1rem;
    font-weight: 600;
    color: #000;
}
.rightLoggo {
    width: 31rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightLoggo p{
    padding:0 2rem 0 0 ;
}
.button1 {
    width: 12.5rem;
    border: none;
    background-color: #fff;
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 600;
}
.firstWin {
    width: 100%;
    height: 55rem;
    display: grid;
    z-index: 50;
    position: relative;
    justify-content: center;
}
.firstWin1 {
    height: 100%;
    width: 72.5rem;
    display: flex;
}
.firstWin1Left {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pfirs {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}
.firstWin1LeftUp {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}
.firstWin1LeftUp p{
    margin-bottom: 0;

}
.firstWin1LeftUp b{
    color: #3767b8;;
}
.firstWin1LeftDown {
    width: 100%;
}
.firstWin1LeftDown p{
    font-size: 1.2rem;
}
.firstWin1LeftDown button{
    width: 19rem;
    height: 5.5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 3px 10px #3767b8;
    margin-bottom: 2rem;
}
.firstWin1LeftDown button:hover {
    background-color: #2756a8;
    cursor: pointer;
}
.icon {
    width: auto;
    height: auto;
    display: flex;
}
.iconi {
    display: flex;
    align-items: center;
}
.iconi2 {
    font-size: 1rem;
    z-index: 30;
}
.firstWin1Right {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    background-image: url(img/min.png);
    background-position-x: center;
    z-index: 21;
    background-position-y: top;
}
.firstWin1RightP {
    width: 30rem;
    height: 5rem;
    background-color: #3767b8;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    position: relative;
    top: 4rem;
}
.kupon {
    width: 100%;
    height: 15rem;
    display: grid;
    justify-content: center;
    z-index: 60;
    position: relative;
    bottom: 7rem;
    background-color: transparent;
}
.kupon1 {
    width: 72.5rem;
    box-shadow: 0px 10px 20px 5px rgba(66,66,66,0.1);
    background-color: #fff;
}
.doubleLine {
    height: calc(100% - 2rem);
    margin: 1rem;
    border-width: 5px;
    border-color: #3766b850;
    border-style: dashed;
}
.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.politic{
    font-size: 12px;
}
.politic a{
    color: #3767b8;
}
.formp {
    font-size: 1.5rem;
    font-weight: 600;
    word-spacing: 5px;
}
.postp, .postpp {
    height: 3rem;
    width: 15rem;
    padding: 0 1rem;
    margin: 0 1rem;
}
.postpp {
    width: 25rem;
    height: 3rem;
    background-color: #3767b8;
    color: #fff;
    border: none;
}
.postpp:hover {
    background-color: #2756a8;
    cursor: pointer;
}
.newLife {
    width: 100%;
    display: grid;
    justify-content: center;
    z-index: 21;
    background-color: #f5f5f5;
}
.newLife900 {
    display: none;
    width: 100%;
    display: grid;
    justify-content: center;
    z-index: 21;
    background-color: #f5f5f5;

}
.newLife1 {
    width: 72.5rem;
    height: 45rem;
    display: flex;
    z-index: 31;
}
.newLifeText {
    height: 40rem;
    width: calc(100% - 3rem);
    padding-right: 3rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-around;
}
.nlt1 {
    font-size: 3rem;
}
.nlt1 b{
    color: #3767b8;
}
.nlt2 {
    font-size: 1.3rem;
    line-height: 2rem;
}
.nlt3 {
    font-size: 1.7rem;
    color: #3767b8;
}
.nlt4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.nltBlue {
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    background-image: url(img/__.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
}
.newLifeImg{
    height: 30rem;
    margin-top: 2rem;
}
.newLifeImgg{
    box-shadow: 0px 0px 30px 0px rgba(66,66,66,0.7);
}
.forma {
    width: 100%;
    display: grid;
    justify-items: center;
    background-color: #f5f5f5;
}
.formao {
    width: 72.5rem;
    height: 100%;
    display: grid;
    justify-content: center;
}
.frm {
    width: 30rem;
    height: 5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5rem;
    font-size: 1.1rem;
    transition: background-color .2s;

}
.frm:hover {
    background-color: #2756a8;
    cursor: pointer;
}
.spishemDolg {
    width: 100%;
    height: 29rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.spishemDolg11 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.spishemDolg1 {
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spishemDolg1 p{
    font-size: 1rem;
    line-height: 2rem;
}
.spishemDolg1 b{
    color: #3767b8;
}
.spishemDolg2 {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.spishemDolgItem {
    width: 17rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.spishemDolgItem p{
    font-size: 1rem;
    width: 70%;
}
.nechaev {
    width: 100%;
    height: 43rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
}
.nechaev41 {
    height: 100%;
    width: 72.5rem;
    display: flex;
    align-items: center;
    color: #fff;
}
.nechaev1 {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
.nechaev11 {
    width: 100%;
    height: 80%;
}
.nechaev111 {
    width: 26rem;
    height: 26rem;
    border: 10px solid #fff;
    rotate: 5deg;
    box-shadow: 3px 3px 20px 1px #000;
}
.nechaev2 {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nechaev21 h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.nechaev21 p {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-top: 0;
}
.nechaev22 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2rem;
}
.nechaev23 button{
    width: 23rem;
    height: 5rem;
    color: #3767b8;
    font-weight: 700;
    background-color: #fff;
    border: none;
}
.nechaev23 button:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color .2s;
}
.result {
    width: 100%;
    height: 65rem;
    display: grid;
    justify-items: center;
}
.result1 h1{
    font-size: 3rem;
}
.result1 b{
    color: #3767b8;
}
.result1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0;
}
.result2 {
    height: 38rem;
    display: flex;
    font-size: 1rem;
    color: #fff;
}
.result2 h1{
    font-size: 2rem;
}
.result21 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.cubb, .cub {
    width: calc(95% );
    height: calc(50% );
    background-color: #3767b8;
    position: relative;
}
.cubb:hover {
    transform: translate(1rem 1rem );
}
.cyb {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding: 2rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, transparent 0%, transparent 30%, #000 110%, #000 110%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cubb  h1, .cub h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
}
.cubb  p, .cub p{
    margin: 0;
    letter-spacing: 0;
}
.cubik {
    background-color: #3767b8;
    width: calc(95% - 4rem);
    height: calc(30% - 4rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cubik h1{
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 1rem;
    margin-top: 0;
}
.cubik p{
    font-size: 1rem;
    letter-spacing: 0;
    margin: 0;
}
.cub1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.cubb {
    background-image: url(img/bankomat-770x482-cc6.jpg);
    background-repeat: no-repeat;
}
.cub {
    background-image: url(img/scale_1200_1.jpeg);
    background-repeat: no-repeat;
}
.result1 button{
    width: 35rem;
    height: 6rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size:1rem ;
    box-shadow: 3px 3px 10px #3767b8;
}
.result1 button:hover{
    background-color: #2756a8;
    cursor: pointer;
}
.billion {
    width: 100%;
    height: 100rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.billion1 {
    width: 72.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.billion1 h1{
    font-size: 2.7rem;
    width: 95%;
    margin-bottom: 0;
    text-align: center;
}
.billion1 b{
    color: #3767b8;
    width: 90%;
}
.billion1 p{
    font-size: 1.5rem;
    letter-spacing: 0;
    word-spacing: 0.2rem;
    line-height: 2.5rem;
    width: 90%;
}
.billion3 {
    height: 72rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.billion31 {
    height: 35rem;
    background-color: #f5f5f5;
    box-shadow: -1px -2px 21px -5px rgba(34, 60, 80, 0.38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .5s;

}
.billion31:hover {
    box-shadow: 1px 1px 25px 15px #5353536c;
}
.billion31 h1{
    font-size: 1.5rem;
    margin: 1rem 0 0;
}
.billion31 button{
    width: 10rem;
    height: 2.2rem;
    border: none;
    background-color: #3767b8;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;

}
div.billion31 img{
    width: 260px;
    height: 350px;
}
.team {
    width: 100%;
    display: grid;
    justify-items: center;
    letter-spacing: 0;
}
.team1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
} 
.team1 h1, .team1 p{
    text-align: center;
}
.team1 h1 {
    font-size: 3rem;
}
.team1 h1 b{
    color: #3767b8;
}
.team1 p {
    font-size: 1.5rem;
}
.price {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}
.price1 {
    width: 72.5rem;
    height: 100%;
    text-align: center;
}
.price1 h1{
    font-size: 3rem;
}
.price1 p{
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}
.pbold{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Ubuntu", italic;
}
.pricecub{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pricecub1 {
    width: calc(22% - 4rem);
    height: calc(20rem - 4rem);
    background-color: #fff;
    padding: 2rem;
    border: 0.1px solid #3333331a ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
}
.pricecub1 h1{
    font-size: 1.3rem;
}
.pricecub1 button{
    width: 7rem;
    height: 3rem;
    border: none;
    background-color: #3767b8;
    color: #f5f5f5;
    transition: background-color .3s;
}
.pricecub1 button:hover{
    background-color: #2756a8;
    cursor: pointer;
}
.quizWin {
    width: 100%;
    height: 20rem;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #3767b8;

}
.quizWin1 {
    width: calc(72.5rem - 4rem);
    height: calc(80% - 4rem);
    padding: 2rem;
    border: 3px solid #ffffff79;
    color: #fff;
}
.quizWin2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quizWin21 {
    width: 60%;
}
.quizWin22 button{
    width: 20rem;
    height: 5rem;
    background-color: #fff;
    border: none;
    color: #3767b8;
    font-weight: 600;
    font-size: 1rem;
}
.quizWin22 button:hover{
    background-color: #ffffff9f;
    cursor: pointer;
}
.reviews {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.reviews1 {
    width: 72.5rem;
    height: 100%;
}
.reviews1 h1{
    font-size: 2.7rem;
}
.reviews1 h1 b{
    color: #3767b8;
}
.reviews11 {
    width: 100%;
    height: auto;
}
.reviews1 button{
    width: 20rem;
    height: 5rem;
    background-color: #3767b8;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.us {
    width: 100%;
    height: 41rem;
    display: grid;
    justify-content: center;
    background-color: #fff;
}
.us1 {
    width: 72.5rem;
    height: 100%;
}
.us1 h1{
    font-size: 2.8rem;
    text-align: center;
}
.us1 b{
    color: #3767b8;
}
.facts {
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.facts1 {
    width: 30%;
    height: 45%;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}
.back-number {
    position: absolute;
    font-size: 16rem;
    opacity: 0.1;
    font-weight: 800;
    color: #4646465e;
}
.facts1 h1{
    font-size: 1.3rem;
    color: #3767b8;
    text-align: left;
}
.facts1 p {
    margin: 0;
}
.formaOsnov {
    width: 100%;
    height: 37rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
}
.formOsnov1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
}
.formaOsnov11 {
    width: 80%;
    text-align: center;
    color: #fff;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formaOsnov11 h1 {
    font-size: 2.9rem;
    margin-bottom: 0;
}
.formaOsnov11 p {
    font-size: 1rem;
    font-weight: 200;
}
.star {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.star1 {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star1 p{
    font-style: 1rem;
    text-align: start;
    width: 80%;
}
.star11 {
    width: 2rem;
    height: 2rem;
    border-radius: 3000px;
    background-color: #fff;
}
.formaOsnov2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.formaOsnov21 {
    width: 75%;
    height: 75%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formaOsnov211 {
    width: calc(90% - 4rem);
    height: calc(90% - 4rem);
    padding: 2rem;
    border: 5px dashed #3766b85d;
}
.formaOsnov2111 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.formaOsnov2111 h1{
    font-size: 1.3rem;
}
.formaOsnov2111 p{
    font-size: 0.7rem;
    letter-spacing: 0;
}
.formaa {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formaaa, .formaaa1 {
    height: 3rem;
    opacity: 0.6;
    padding-left: 2rem;
}
.formaaa1 {
    background-color: #3767b8;
    opacity: 1;
    border: none;
    color: #fff;
    font-size: 1rem;
}
.formaaa1 {
    cursor: pointer;
}
.reshai {
    width: 100%;
    height: 57rem;
    display: grid;
    justify-content: center;
}
.reshai1 {
    height: 80%;
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    justify-content: space-around;
}
.reshai1 h1{
    font-size: 2.8rem;
}
.reshai1 h1 b{
    color: #3767b8;
}
.reshai1 p{
    font-size: 1.2rem;
    font-weight: 600;
}
.reshai11 {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.reshai111 {
    height: calc(5rem - 2rem);
    width: calc(80% - 2rem);
    padding: 1rem;
    background-image: url(img/__.png);
    background-position: right;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.reshai3 {
    width: 72.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.reshai2 {
    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
}
.reshai21 {
    width: 100%;
    height: 75%;
    background-image: url(img/photo_2020-11-02_232.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 5px #000;
}
.kypon {
    width: 100%;
    height: 15rem;
    display: grid;
    justify-content: center;
}
.kypon1 {
    width: 72.5rem;
    box-shadow: 0px 10px 20px 5px rgba(66,66,66,0.1);
    background-color: #fff;
}
.kyponDoble {
    height: calc(100% - 2rem);
    margin: 1rem;
    border-width: 5px;
    border-color: #3766b850;
    border-style: dashed;
}
.kyponform {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.kyponform h1{
    font-size: 1.5rem;
}
.contact {
    width: 100%;
    height: 36rem;
    display: grid;
    justify-content: center;
    background-color: #3767b8;
    margin-top: 3rem;
    color: #fff;
}
.contact1 {
    width: 72.5rem;
    height: 100%;
    display: flex;
}
.contact12 {
    width: 50%;
    height: 100%;
}
.contact11 {
    height: 100%;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact3 {
    height: 20%;
    font-size: 1rem;
    display: flex;
    letter-spacing: 0;
}
.contact3 h1{
    font-size: 1rem;
    padding-left: 2rem;
    font-weight: 600;
}
.contact3 p{
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-weight: 400;
}
.contact2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact21 {
    width: 90%;
    height: 90%;
    border: 3px solid #ffffff79;
    display: grid;
    justify-content: center;
    align-items: center;
}
@media screen and ( min-width: 1450px ) and (max-width: 1920px) {
    .blue-setka {
        position: relative;
        left: 47rem;
    }
}
@media screen and ( min-width: 1000px ) and (max-width: 1449px) {
    .blue-setka {
        position: relative;
        left: 30rem;
    }
}
@media screen and ( min-width: 1025px ) and (max-width: 1300px) {
    html {
        font-size: 14px;
    }
    .firstWin{
    justify-items: center;
    height: 45rem;
    }
    .firstWin1{
        width: 90%;
    }
    .firstWin1Right{
        background-position-y: -7rem;
        height: 100%;
    }
    .firstWin1Left {
        height: 100%;
    }
    .kupon {
        bottom: 0;
        height: auto;
    }
    .kupon1 {
        width: 80rem;
        height: 17rem;
    }
    .firstWin1LeftDown p {
        margin-left: 1rem;
    }
    .newLife1 {
        height: 50rem;
    }
    .newLifeText {
        height: auto;
        margin-bottom: 1rem;
    }
    .nltBlue {
        width: 90%;
        height: auto;
    }
    .spishemDolg {
        height: 30rem;
    }
    .result {
        margin-bottom: 2rem;
    }
    .result1 {
        width: 80rem;
    }
    .result2 {
        height: 45rem;
    }
    .result21 {
        justify-content: center;
    }
    .cub {
        margin-top: 2rem;
    }
    .cubb {
        margin-bottom: 2rem;
    }
    .billion1 {
        text-align: center;
        width: 80rem;
    }
    .team1 {
        width: 80rem;
    }
    .team1 p {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        margin: 0 0 1rem;
    }
    .team-slider {
        overflow-x: scroll;
    }
    div.team-slider-win {
        margin-top: 2rem;
        width: 120%;
    }
    .price1 {
        width: 80rem;
    }
    .pricecub1 {
        height: calc(22rem - 4rem);
    }
    .pricecub1 h1 {
        font-size: 1.5rem;
    }
    .quizWin1 {
        width: calc(80rem - 4rem);
    }
    .reviews1 {
        width: 80rem;
    }
    .us1 {
        width: 80rem;
    }
    .facts {
        justify-content: space-around;
        align-content: stretch;
        align-items: stretch;
    }
    .formOsnov1 {
        width: 80rem;
    }
    .star1 {
        margin-bottom: 2rem;
    }
    .reshai3 {
        width: 80rem;
    }
    .reshai11 {
        height: 25rem;
    }
    .reshai111 {
        height: calc(7rem - 2rem);
        width: calc(60% - 2rem);
    }
    .reshai111 p{
        width: 80%;
        font-size: 1rem;
        font-weight: 400;
    }
    .kypon1 {
        width: 80rem;
    }
    .kyponform h1 {
        letter-spacing: 0.3rem;
    }
    .contact1 {
        width: 80rem;
    }
    .contact21 iframe{
        height: 90%;
    }
}
@media screen and ( min-width: 901px ) and (max-width: 1024px) {
    html {
        font-size: 12px;
    }
    .firstWin{
        justify-items: center;
        height: 45rem;
    }
    .firstWin1{
        width: 90%;
    }
        .firstWin1Right{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .firstWin1Left {
        height: 100%;
    }
    .kupon {
        bottom: 0;
        height: auto;
    }
    .kupon1 {
        width: 80rem;
        height: 17rem;
    }
    .firstWin1LeftDown p {
        margin-left: 1rem;
    }
    .newLife1 {
        height: 50rem;
    }
    .newLifeText {
        height: auto;
        margin-bottom: 1rem;
    }
    .nltBlue {
        width: 90%;
        height: auto;
    }
    .spishemDolg {
        height: 30rem;
    }
    .result {
        margin-bottom: 2rem;
    }
    .result1 {
        width: 80rem;
    }
    .result2 {
        height: 45rem;
    }
    .result21 {
        justify-content: center;
    }
    .cub {
        margin-top: 2rem;
    }
    .cubb {
        margin-bottom: 2rem;
    }
    .billion {
        height: auto;
        margin-bottom: 2rem;
    }
    .billion1 {
        text-align: center;
        width: 80rem;
    }
    .billion3{
        justify-content: center;
    }
    .billion31 {
        width: 23%;
        margin-right: 1rem;
    }
    div.billion31 img{
        width: 16rem;
        height: 80%;        
    }
    .billion31 button {
        margin-top: 1rem;
    }
    .team1 {
        width: 80rem;
    }
    .team1 p {
        font-size: 1.5rem;
        line-height: 3rem;
        letter-spacing: 0.1rem;
        margin: 0 0 1rem;
    }
    .team-slider {
        overflow-x: scroll;
    }
    div.team-slider-win {
        margin-top: 2rem;
        width: 120%;
    }
    .price1 {
        width: 80rem;
    }
    .pricecub1 {
        height: calc(22rem - 4rem);
    }
    .pricecub1 h1 {
        font-size: 1.5rem;
    }
    .quizWin1 {
        width: calc(80rem - 4rem);
    }
    .reviews1 {
        width: 80rem;
    }
    .us1 {
        width: 80rem;
    }
    .facts {
        justify-content: space-around;
        align-content: stretch;
        align-items: stretch;
    }
    .formOsnov1 {
        width: 80rem;
    }
    .star1 {
        margin-bottom: 2rem;
    }
    .reshai3 {
        width: 80rem;
    }
    .reshai11 {
        height: 25rem;
    }
    .reshai111 {
        height: calc(7rem - 2rem);
    }
    .reshai111 p{
        width: 80%;
        font-size: 1rem;
        font-weight: 400;
    }
    .kypon1 {
            width: 80rem;
    }
    .kyponform h1 {
        letter-spacing: 0.3rem;
    }
    .contact1 {
        width: 80rem;
    }
    .contact21 {
        display: block;
    }
    .contact21 iframe{
        height: 90%;
        width: 90%;
        padding: 2rem;
    }
    .newLifeImgg {
        height: 40rem;
        margin-top: 3rem;
    }
}
@media screen and ( min-width: 701px ) and (max-width: 900px) {
    html {
        font-size: 11px;
    }
    .header {
        display: none;
    }
    .header900 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header901 {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem;
    }
    .header901 button{
        position: fixed;    
        z-index: 99;
        right: 3rem;  
    }
    .header901 p{
        width: 30%;
        font-size: 2rem;
        margin: 0 0 0 7rem;
    }
    .firstWin {
        height: 100rem;
    }
    .firstWin1 {
        width: 60rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .firstWin1Left {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .firstWin1LeftUp {
        font-size: 3.5rem;
        display: grid;
        justify-items: center;
    }
    .firstWin1LeftUp p {
        margin-bottom: 0;
        width: 70%;
        line-height: 6rem;
    }
    .pfirs {
        font-size: 1.5rem;
    }
    .icon {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .firstWin1Right  {
        width: 60%;
        background-position-y: -7rem;
    }
    .firstWin1RightP {
        width: 40rem;
        height: 7rem;
        font-size: 1.9rem;
        left: -20rem;
    }
    .setka {
        height: 108rem;
    }
    .setka1 {
        top: -10rem;
        left: -45rem;
    }
    .kupon1 {
        width: 60rem;
    }
    .kupon {
        bottom: 3rem;
        height: 30rem;
    }
    .form form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .postp, .postpp {
        width: 60%;
        height: 4rem;
        margin-bottom: 2rem;
    }
    .postpp {
        width: 64%;
    }
    .newLife {
        display: none;
    }
    .newLife900 {
        display: grid;
        height: 95rem;
    }
    .newLife1 {
        width: 60rem;
        flex-direction: column;
        align-items: center;
    }
    .newLifeText{
        height: 25rem;
        width: 80%;
        text-align: center;
        padding-right: 0;
        margin-top: 0;
    }
    .nlt1 {
        font-size: 3.4rem;
    }
    .newLifeImg {
        height: auto;
        margin-bottom: 2rem;
    }
    .nlt4 {
        align-items: center;
    }
    .nltBlue {
        width: 75%;
    }
    .frm {
        width: 40rem;
        height: 8rem;
        font-weight: 800;
        box-shadow: 1px 1px 10px 1px #2756a8;
    }
    .spishemDolg {
        height: 55rem;
    }
    .spishemDolg11 {
        width: 60rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: normal;
    }
    .spishemDolg1 {
        width: 80%;
        align-items: center;
    }
    .spishemDolg1 p {
        width: 80%;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .spishemDolg2 {
        width: auto;
        flex-direction: row;
        justify-content: center;
    }
    .spishemDolgItem {
        width: 25rem;
    }
    .nechaev {
        height: 90rem;
        letter-spacing: 0.2rem;
    }
    .nechaev2 {
        text-align: center;
        width: 100%;
    }
    .nechaev21 h1 {
        font-size: 2rem;
    }
    .nechaev22 {
        letter-spacing: 0;
        width: 100%;
        align-items: center;
    }
    .nechaev22 p{
        width: 80%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .nechaev41 {
        width: 60rem;
        flex-direction: column-reverse;
    }
    .nechaev111 {
        width: 36rem;
        height: 36rem;
    }
    .result {
        height: 68rem;
    }
    .result1 {
        width: 60rem;
    }
    .result2  {
        height: 40rem;
    }
    .cubik {
        height: calc(50% - 4rem);
    }
    .cubb {
        margin-bottom: 2rem;
    }
    .cub {
        margin-top: 2rem;
    }
    .result1 button {
        height: 8rem;
        width: 40rem;
        font-size: 1.2rem;
    }
    .billion {
        height: auto;
        padding-bottom: 2rem;
    }
    .billion1 {
        width: 60rem;
    }
    .billion1 p {
        text-align: center;
    }
    .billion228 {
        width: 100%;
        overflow-x: scroll;
    }
    .billion3 {
        width: 370%;
        height: 56rem;
    }
    .billion31 {
        width: 25rem;
        height: 55rem;
    }
    div.billion31 img {
        width: 100%;
        height: 450px;
    }
    .billion31 button {
        width: 15rem;
        height: 4rem;
    }
    .billion31 h1{
        font-size: 2rem;
    }
    .team1 {
        width: 60rem;
    }
    .team1 p {
        font-size: 2rem;
    }
    .price1 {
        width: 60rem;
    }
    .pricecub {
        flex-direction: column;
        align-items: center;
    }
    .pricecub1  {
        width: 80%;
        margin-bottom: 3rem;
    }
    .pricecub1 h1 {
        font-size: 2rem;
    }
    .pricecub1 button {
        width: 13rem;
        height: 3rem;
        font-size: 1rem;
    }
    .quizWin {
        height: 25rem;
    }
    .quizWin1 {
        width: calc(60rem - 4rem);
    }
    .quizWin2 {
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .reviews {
        justify-content: space-around;
    }
    .reviews1 {
        width: 60rem;
    }
    .reviews1 h1 {
        font-size: 3rem;
    }
    .review-text {
        font-size: 1.5rem;
    }
    div.reviews-slider {
        height: 45rem;
    }
    .us {
        height: 60rem;
    }
    .us1 {
        width: 60rem;
    }
    .facts {
        height: 50rem;
    }
    .facts1  {
        width: 40%;
        height: auto;
    }
    .formaOsnov {
        height: 65rem;
    }
    .formOsnov1 {
        width: 60rem;
        flex-direction: column;
        align-items: center;
    }
    .formao{
        width: 60rem;
    }
    .formaOsnov11 {
        height: 50%;
    }
    .formaOsnov11 p{
    font-size: 1.4rem;
    }
    .star {
        justify-content: space-between;
    }
    .formaOsnov2111 p {
        font-size: 1rem;
    }
    .reshai {
        height: 110rem;
    }
    .reshai3 {
        width: 60rem;
        flex-direction: column;
    }
    .reshai1 {
        text-align: center;
    }
    .reshai11 {
        align-items: center;
        height: auto;
    }
    .reshai111 {
        height: calc(8rem - 2rem);
        margin-bottom: 2rem;
        text-align: left;

    }
    .reshai111 p{
        width: 80%;
    }
    .kypon {
        height: auto;
    }
    .kypon1 {
        width: 60rem;
    }
    .kyponform form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact {
        height: 85rem;
    }
    .contact1 {
        width: 60rem;
        flex-direction: column;
        align-items: center;
    }
    .contact1 h2{
        font-size: 3rem;
        text-align: center;
    }
    .contact2 {
        width: 100%;
    }
    .contact21 iframe{
        height: 90%;
        width: 600px;
    }
    div.primer, div.primer2, div.primer3, div.primer4, div.primer5, div.primer6, div.primer7, div.primer8 {
        width: 100vw;
    }
}
@media screen and ( min-width: 501px ) and (max-width: 700px) {
    html {
        font-size: 8px;
    }
    .header {
        display: none;
    }
    .header900 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header901 {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem;
    }
    .header901 button{
        position: fixed;    
        z-index: 99;
        right: 3rem;  
    }
    .header901 p{
        width: 50%;
        font-size: 2rem;
    }
    .firstWin {
        height: 100rem;
    }
    .firstWin1 {
    width : 100%;        
    height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .firstWin1Left {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .firstWin1LeftUp {
        font-size: 3.5rem;
        display: grid;
        justify-items: center;
    }
    .firstWin1LeftUp p {
        margin-bottom: 0;
        width: 70%;
        line-height: 6rem;
    }
    .pfirs {
        font-size: 1.5rem;
    }
    .icon {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .firstWin1Right  {
        width: 60%;
        background-size: 70rem;
        background-position-y: 2rem;
        background-repeat: no-repeat;
    }
    div.review-text {
        width: 90%;
    }
    .firstWin1RightP {
        width: 40rem;
        height: 7rem;
        font-size: 1.9rem;
        left: -20rem;
    }
    .setka {
        height: 108rem;
    }
    .setka1 {
        top: -10rem;
        left: -45rem;
    }
    .kupon1 {
        width : 60rem;    
    }
    .kupon {
        bottom: 3rem;
        height: auto;
    }
    .form form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .postp, .postpp {
        width: 80%;
        height: 6rem;
        margin-bottom: 2rem;
    }
    .postpp {
        width: 84%;
    }
    .newLife {
        display: none;
    }
    .newLife900 {
        display: grid;
    }
    .newLife1 {
        width : 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .forma {
        margin-top: 4rem;
    }
    .newLifeText{
        height: 25rem;
        width: 80%;
        text-align: center;
        padding-right: 0;
        margin-top: 0;
    }
    .nlt1 {
        font-size: 3.4rem;
    }
    .newLifeImg {
        height: auto;
        margin-bottom: 2rem;
    }
    .nlt4 {
        align-items: center;
    }
    .nltBlue {
        width: 75%;
    }
    .frm {
        width: 40rem;
        height: 8rem;
        font-weight: 800;
        box-shadow: 1px 1px 10px 1px #2756a8;
    }
    .spishemDolg {
        height: 55rem;
    }
    .spishemDolg11 {
width : 100%;        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: normal;
    }
    .spishemDolg1 {
        width: 80%;
        align-items: center;
    }
    .spishemDolg1 p {
        width: 80%;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .spishemDolg2 {
        width: auto;
        flex-direction: row;
        justify-content: center;
    }
    .spishemDolgItem {
        width: 25rem;
    }
    .nechaev {
        height: 100rem;
        letter-spacing: 0.2rem;
    }
    .nechaev2 {
        text-align: center;
        width: 100%;
    }
    .nechaev21 h1 {
        font-size: 2rem;
    }
    .nechaev22 {
        letter-spacing: 0;
        width: 100%;
        align-items: center;
    }
    .nechaev22 p{
        width: 80%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .nechaev41 {
width : 100%;        flex-direction: column-reverse;
    }
    .nechaev111 {
        width: 36rem;
        height: 36rem;
    }
    .result {
        height: 68rem;
    }
    .result1 {
width : 100%;    }
    .result2  {
        height: 40rem;
    }
    .cubik {
        height: calc(50% - 4rem);
    }
    .cubb {
        margin-bottom: 2rem;
    }
    .cub {
        margin-top: 2rem;
    }
    .result1 button {
        height: 8rem;
        width: 40rem;
        font-size: 1.2rem;
    }
    .billion {
        height: auto;
        padding-bottom: 2rem;
    }
    .billion1 {
width : 100%;    }
    .billion1 p {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .billion228 {
        width: 100%;
        overflow-x: scroll;
    }
    .billion3 {
        width: 370%;
        height: 56rem;
    }
    .billion31 {
        width: 25rem;
        height: 55rem;
    }
    div.billion31 img {
        width: 100%;
        height: 450px;
    }
    .billion31 button {
        width: 15rem;
        height: 4rem;
    }
    .billion31 h1{
        font-size: 2rem;
    }
    .team1 {
width : 100%;    }
    .team1 p {
        font-size: 2rem;
    }
    .price1 {
width : 100%;    }
    .pricecub {
        flex-direction: column;
        align-items: center;
    }
    .pricecub1  {
        width: 80%;
        margin-bottom: 3rem;
    }
    .pricecub1 h1 {
        font-size: 2rem;
    }
    .pricecub1 button {
        width: 13rem;
        height: 3rem;
        font-size: 1rem;
    }
    .quizWin {
        height: 40rem;
    }
    .quizWin1 {
        width: calc(60rem - 4rem);
    }
    .quizWin2 {
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .quizWin21 {
        font-size: 1.5rem;
        width: 100%;
    }
    .quizWin22 button {
        width: 30rem;
        height: 7rem;
    }
    .reviews {
        justify-content: space-around;
    }
    .reviews1 {
width : 100%;    }
    .reviews1 h1 {
        font-size: 3rem;
    }
    .review-text {
        font-size: 1.5rem;
    }
    div.reviews-slider {
        height: 45rem;
    }
    .us {
        height: auto;
        padding-bottom: 4rem;
    }
    .us1 {
width : 100%;    }
    .facts {
        height: auto;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }
    .facts1  {
        width: 60%;
        font-size: 1.5rem;
        line-height: 2rem;
        height: auto;
        margin-bottom: 4rem;
    }
    .facts1 h1 {
        font-size: 2rem;
    }
    .formaOsnov {
        height: 65rem;
    }
    .formOsnov1 {
width : 100%;        flex-direction: column;
        align-items: center;
    }
    .formao{
width : 100%;    }
    .formaOsnov11 {
        height: 50%;
    }
    .formaOsnov11 p{
    font-size: 1.4rem;
    }
    .star {
        justify-content: space-between;
    }
    .formaOsnov2111 p {
        font-size: 1rem;
    }
    .reshai {
        height: 110rem;
    }
    .reshai3 {
width : 100%;        flex-direction: column;
    }
    .reshai1 {
        text-align: center;
    }
    .reshai11 {
        align-items: center;
        height: auto;
    }
    .reshai111 {
        height: calc(8rem - 2rem);
        margin-bottom: 2rem;
        text-align: left;

    }
    .reshai111 p{
        width: 80%;
    }
    .kypon {
        height: 50rem;
    }
    .kypon1 {
        width : 60rem;    
    }  
    .kyponform form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .kyponform h1{
        font-size: 3rem;
        text-align: center;
    }
    .contact {
        height: 85rem;
    }
    .contact1 {
width : 100%;        flex-direction: column;
        align-items: center;
    }
    .contact1 h2{
        font-size: 3rem;
        text-align: center;
    }
    .contact2 {
        width: 100%;
    }
    .contact21 iframe{
        height: 90%;
        width: 400px;
    }
    div.primer, div.primer2, div.primer3, div.primer4, div.primer5, div.primer6, div.primer7, div.primer8 {
        width: 100vw;
    }
    .team-slider {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    div.team-slider-win {
        width: 160%;
    }
    .price1 h1{
        font-size: 3.5rem;
    }
    .price1 p {
        font-size: 2rem;
    }
    .contact3 h1{
        font-size: 2rem;
    }
    .contact3 p {
        font-size: 1.7rem;
    }
    .pricecub1 {
        height: auto;
    }
    .nechaev111 img {
        width: 36rem;
        height: 36rem;
    }
}
@media screen and ( min-width: 320px ) and (max-width: 500px) {
    html {
        font-size: 8px;
    }
    .header {
        display: none;
    }
    .leftLogo img{
        width: 20rem;
        height: 5rem;
    }
    .header900 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header901 {
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
    .header901 button{
        position: fixed;    
        z-index: 99;
        right: 3rem;  
    }
    .header901 p{
        width: 50%;
        font-size: 2rem;
    }
    .firstWin {
        height: 120rem;
    }
    .firstWin1 {
    width : 100%;        
    height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .firstWin1Left {
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .firstWin1LeftUp {
        font-size: 3.5rem;
        display: grid;
        justify-items: center;
    }
    .firstWin1LeftUp p {
        margin-bottom: 0;
        width: 70%;
        line-height: 6rem;
    }
    .pfirs {
        font-size: 1.5rem;
    }
    .icon {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .firstWin1Right  {
        background-size: 60rem;
        background-position-y: 6rem;
        background-repeat: no-repeat;
        background-position-x: left;
    }
    div.review-text {
        width: 90%;
    }
    .firstWin1RightP {
        width: 40rem;
        height: 7rem;
        font-size: 1.9rem;
        left: -20rem;
        top: 0;
        left: 0;
    }
    .setka {
        height: 108rem;
    }
    .setka1 {
        top: -10rem;
        left: -45rem;
    }
    .kupon1 {
        width : 90%;    
    }
    .kupon {
        bottom: 3rem;
        height: auto;
        justify-items: center;
        text-align: center;
    }
    .formp {
        text-align: center;
    }
    .form form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .postp, .postpp {
        width: 80%;
        height: 6rem;
        margin-bottom: 2rem;
    }
    .postpp {
        width: 84%;
    }
    .newLife {
        display: none;
    }
    .newLife900 {
        display: grid;
    }
    .newLife1 {
        width : 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .forma {
        margin-top: 4rem;
    }
    .newLifeText{
        height: 25rem;
        width: 80%;
        text-align: center;
        padding-right: 0;
        margin-top: 0;
    }
    .nlt1 {
        font-size: 3.4rem;
    }
    .newLifeImg {
        height: auto;
        margin-bottom: 2rem;
        margin-bottom: 2rem;
        display: grid;
        justify-items: center;

    }
    .newLifeImgg {
        width: 90%;
    }
    .nlt4 {
        align-items: center;
    }
    .nltBlue {
        width: 75%;
        height: auto;
    }
    .nltBlue img{
        width:10px ;
        height: 10px;
    }
    .frm {
        height: 8rem;
        font-weight: 800;
        box-shadow: 1px 1px 10px 1px #2756a8;
    }
    .spishemDolg {
        height: auto;
    }
    .spishemDolg11 {
width : 100%;        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: normal;
    }
    .spishemDolg1 {
        width: 80%;
        align-items: center;
    }
    .spishemDolg1 p {
        width: 80%;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .spishemDolg2 {
        width: auto;
        flex-direction: row;
        justify-content: center;
    }
    .spishemDolgItem {
        width: 25rem;
    }
    .nechaev {
        height: 90rem;
        letter-spacing: 0.2rem;
    }
    .nechaev1 {
        width: auto;
    }
    .nechaev2 {
        text-align: center;
        width: 100%;
    }
    .nechaev21 h1 {
        font-size: 2rem;
    }
    .nechaev22 {
        letter-spacing: 0;
        width: 100%;
        align-items: center;
    }
    .nechaev22 p{
        width: 80%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .nechaev41 {
width : 100%;        flex-direction: column-reverse;
    }
    .nechaev111 {
        width: 26rem;
        height: 26rem;
    }
    .result {
        height: auto;
    }
    .result1 {
width : 100%;    }
    .result2  {
        height: auto;
        flex-direction: column;
    }
    .result21 {
        width: 100%;
        height: 50rem;
        margin-bottom: 2rem;
    }
    .cubik {
        height: calc(50% - 4rem);
    }
    .cubb {
        margin-bottom: 2rem;
    }
    .cub {
        margin-top: 2rem;
    }
    .result1 button {
        height: 8rem;
        font-size: 1.2rem;
    }
    .billion {
        height: auto;
        padding-bottom: 2rem;
    }
    .billion1 {
width : 100%;    }
    .billion1 p {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .billion228 {
        width: 100%;
        overflow-x: scroll;
    }
    .billion3 {
        width: 800%;
        height: 76rem;
    }
    .billion31 {
        width: 35rem;
        height: 75rem;
    }
    div.billion31 img {
        width: 100%;
        height: 450px;
    }
    .billion31 button {
        width: 15rem;
        height: 4rem;
    }
    .billion31 h1{
        font-size: 2rem;
    }
    .team1 {
        width : 90%;
    }
    .team1 p {
        font-size: 2rem;
    }
    .price1 {
width : 100%;    }
    .pricecub {
        flex-direction: column;
        align-items: center;
    }
    .pricecub1  {
        width: 80%;
        margin-bottom: 3rem;
    }
    .pricecub1 h1 {
        font-size: 2rem;
    }
    .pricecub1 button {
        width: 13rem;
        height: 3rem;
        font-size: 1rem;
    }
    .quizWin {
        height: 40rem;
        justify-items: center;
    }
    .quizWin1 {
        width: calc(90% - 4rem);
    }
    .quizWin2 {
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }
    .quizWin21 {
        font-size: 1.5rem;
        width: 100%;
    }
    .quizWin22 button {
        width: 30rem;
        height: 7rem;
    }
    .reviews {
        justify-content: space-around;
    }
    .reviews1 {
width : 100%;    }
    .reviews1 h1 {
        font-size: 3rem;
    }
    .review-text {
        font-size: 1.5rem;
    }
    div.reviews-slider {
        height: 55rem;
    }
    .us {
        height: auto;
        padding-bottom: 4rem;
    }
    .us1 {
width : 100%;    }
    .facts {
        height: auto;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }
    .facts1  {
        width: 80%;
        font-size: 1.5rem;
        line-height: 2rem;
        height: auto;
        margin-bottom: 4rem;
    }
    .facts1 h1 {
        font-size: 2rem;
    }
    .formaOsnov {
        height: 65rem;
    }
    .formOsnov1 {
width : 100%;        flex-direction: column;
        align-items: center;
    }
    .formao{
width : 100%;    }
    .formaOsnov11 {
        height: 50%;
    }
    .formaOsnov11 p{
    font-size: 1.4rem;
    }
    .star {
        justify-content: space-between;
    }
    .formaOsnov2111 p {
        font-size: 1rem;
    }
    .reshai {
        height: 110rem;
    }
    .reshai3 {
width : 100%;        flex-direction: column;
    }
    .reshai1 {
        text-align: center;
    }
    .reshai11 {
        align-items: center;
        height: auto;
    }
    .reshai111 {
        height:95%;
        width: calc(100% - 2rem);
        margin-bottom: 2rem;
        background-image: none;
        background-color: #3767b8;
        text-align: left;

    }
    .reshai2 {
        width: 95%;
    }
    .reshai111 p{
        width: 80%;
    }
    .kypon {
        height: 50rem;
    }
    .kypon1 {
        width : 100%;    
    }  
    .kyponform form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .kyponform h1{
        font-size: 3rem;
        text-align: center;
    }
    .contact {
        height: 85rem;
    }
    .contact1 {
width : 100%;        flex-direction: column;
        align-items: center;
    }
    .contact1 h2{
        font-size: 3rem;
        text-align: center;
    }
    .contact2 {
        width: 100%;
    }
    .contact21 iframe{
        height: 90%;
        width: 250px;
    }
    div.primer, div.primer2, div.primer3, div.primer4, div.primer5, div.primer6, div.primer7, div.primer8 {
        width: 100vw;
    }
    .team-slider {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    div.team-slider-win {
        width: 500%;
    }
    div.team-slide2 {
        font-size: 2.5rem;
    }
    div.team-slide3 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .price1 h1{
        font-size: 3rem;
    }
    .price1 p {
        font-size: 2rem;
    }
    .contact3 h1{
        font-size: 2rem;
    }
    .contact3 p {
        font-size: 1.7rem;
    }
    .pricecub1 {
        height: auto;
    }
    .nechaev111 img {
        width: 26rem;
        height: 26rem;
    }
    .nechaev11 {
        height: auto;
    }
    .cubb h1, .cub h1 {
        font-size: 2.5rem;
    }
    .cubb p, .cub p {
        font-size: 1.5rem;
    }
    .cubik h1 {
        font-size: 2.5rem;
    }
    .cubik p{
        font-size: 1.5rem;
    }
    div.team-slide {
        width: 32rem;
        height: 64rem;
    }
    div.right.active {
        width: 65%;
    }
    div.formaOsnov21 {
        width: 90%;
        height: 90%;
    }
    .formaaa, .formaaa1 {
        height: 4rem;
        margin-bottom: 1rem;
    }
    .contact12  {
        width: 90%;
    }
    .contact3 {
        height: auto;
        flex-direction: column;
        align-items: center;
    } 
    .contact3 h1{
        text-align: center;
    }
}
